@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.active {
  font-family: "Snowburst One", cursive;
}

svg.star-svg {
  display: inline;
}
@layer base {
  body {
    background:  linear-gradient(to right, #c6c3f7c9,#f3f4f6 , #e4eefa);
    color: #111827;
    font-family: "Source Code Pro";
  }

  .dark body {
    background: #212121;
    color: #f3f4f6;
  }
}